
<!doctype html>
<html lang="en">
<head>
    {% extends 'index.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Store</title>
    <link rel="stylesheet" type=text/css href="{% static 'css/main.css' %}">
</head>
<body>

<h1>Navbar</h1>

{% block content %}

<div class="row">
		<div class="col-lg-4">
{#            {% for product in Products %}#}
			<img class="thumbnail" src="{% static 'images/dura.jpeg' %}">
			<div class="box-element product">
				<h6><strong>{{ Products.name}}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Ksh 1400</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/image-1.jpeg' %}">
			<div class="box-element product">
				<h6><strong>Vinyl Matt 4l</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Ksh 1400</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/Duracoat-Superfast 20l.jpg' %}">
			<div class="box-element product">
				<h6><strong>Superfast 20l</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Ksh 4200</strong></h4>

			</div>
		</div>
   <div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/brush 2in.jpeg' %}">
			<div class="box-element product">
				<h6><strong>2" Brush</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Ksh 250</strong></h4>

			</div>
		</div>
    <div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/gyproc.jpeg' %}">
			<div class="box-element product">
				<h6><strong>Gyproc Filler</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Ksh 1800</strong></h4>

			</div>
		</div>
    <div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/all.png' %}">
			<div class="box-element product">
				<h6><strong>Crown Paints 4l</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Ksh 4200</strong></h4>

			</div>
		</div>
     <div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/all.png' %}">
			<div class="box-element product">
				<h6><strong>Crown Paints 4l</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>Ksh 4200</strong></h4>

			</div>
		</div>
{#     <div class="col-lg-4">#}
{#			<img class="thumbnail" src="{% static 'images/placeholder.png' %}">#}
{#			<div class="box-element product">#}
{#				<h6><strong>Product</strong></h6>#}
{#				<hr>#}
{##}
{#				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>#}
{#				<a class="btn btn-outline-success" href="#">View</a>#}
{#				<h4 style="display: inline-block; float: right"><strong>Ksh 4200</strong></h4>#}
{##}
{#			</div>#}
{#		</div>#}
{#     <div class="col-lg-4">#}
{#			<img class="thumbnail" src="{% static 'images/placeholder.png' %}">#}
{#			<div class="box-element product">#}
{#				<h6><strong>Product</strong></h6>#}
{#				<hr>#}
{##}
{#				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>#}
{#				<a class="btn btn-outline-success" href="#">View</a>#}
{#				<h4 style="display: inline-block; float: right"><strong>Ksh 4200</strong></h4>#}
{##}
{#			</div>#}
{#		</div>#}
{#     <div class="col-lg-4">#}
{#			<img class="thumbnail" src="{% static 'images/placeholder.png' %}">#}
{#			<div class="box-element product">#}
{#				<h6><strong>Product</strong></h6>#}
{#				<hr>#}
{##}
{#				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>#}
{#				<a class="btn btn-outline-success" href="#">View</a>#}
{#				<h4 style="display: inline-block; float: right"><strong>Ksh 4200</strong></h4>#}
{##}
{#			</div>#}
{#		</div>#}
{#     <div class="col-lg-4">#}
{#			<img class="thumbnail" src="{% static 'images/placeholder.png' %}">#}
{#			<div class="box-element product">#}
{#				<h6><strong>Product</strong></h6>#}
{#				<hr>#}
{##}
{#				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>#}
{#				<a class="btn btn-outline-success" href="#">View</a>#}
{#				<h4 style="display: inline-block; float: right"><strong>Ksh 4200</strong></h4>#}
{##}
{#			</div>#}
{#		</div>#}
{#     <div class="col-lg-4">#}
{#			<img class="thumbnail" src="{% static 'images/placeholder.png' %}">#}
{#			<div class="box-element product">#}
{#				<h6><strong>Product</strong></h6>#}
{#				<hr>#}
{##}
{#				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>#}
{#				<a class="btn btn-outline-success" href="#">View</a>#}
{#				<h4 style="display: inline-block; float: right"><strong>Ksh 4200</strong></h4>#}
{##}
{#			</div>#}
{#		</div>#}
{#           {% endfor %}#}
	</div>
{% endblock content %}
</body>
</html>